.collection-item {
  width: 22%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 350px;
  -webkit-box-align: center;
          align-items: center;
          margin-right: 40px;
}
.collection-item .image {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-color:white;
    border-radius: 5px;
    padding: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
 
}
